<?xml version="1.0"?>
<robot name="pb" 

       xmlns:xi="http://www.w3.org/2001/XInclude"
       xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
       xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
       xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
       xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
       xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

 <include filename="$(find robotnik_arm_controller)/controllers/gazebo.urdf.xacro" />

  <!-- common includes -->
  <include filename="$(find robotnik_powerball_description)/urdf/materials.urdf.xacro" />

  <!-- powerball arm-->
  <include filename="$(find robotnik_powerball_description)/urdf/powerball_robotnik.urdf.xacro" />
  
  <!-- foot for arm-->
	<link name="base_link">
		<inertial>
		   <origin xyz="0 0 0" rpy="0 0 0"/>
		   <mass value="1000.0"/>
		   <inertia ixx="10.0"  ixy="0"  ixz="0" iyy="100.0" iyz="0" izz="100.0" />
		</inertial>

		<visual>
		   <origin xyz="0 0 0.25" rpy="0 0 0" />
		   <geometry>
			  <cylinder radius="0.1" length="0.5"/>
		   </geometry>
		   <material name="Black" />
		</visual>

		<collision>
		   <origin xyz="0 0 0.25" rpy="0 0 0" />
		   <geometry>
			  <cylinder radius="0.1" length="0.5"/>
		   </geometry>
		</collision>
	</link>

  <!-- powerball arm-->
  <xacro:pb_robotnik_arm name="pb_arm" parent="base_link">
    <origin xyz="0.0 0.0 0.5" rpy="3.1415926 0.0 0.0" />
  </xacro:pb_robotnik_arm>

</robot>
